{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "global-require": "off",
        "no-undef": "off",
        "indent": ["error", 2],
        "max-len": ["error", 135],
        "no-console": "off",
        "no-unused-vars": "off",
        "no-param-reassign": "off",
        "no-unused-expressions": "off",
        "quotes": [
          "error",
          "single"
        ],
        "max-classes-per-file": "off",
        "import/newline-after-import": "off",
        "import/prefer-default-export": "off",
        "react/jsx-filename-extension": "off",
        "react/prop-types": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/label-has-associated-control": "off"
    }
}
